body {
    margin: 0px;
    width: 100%;
    height: 100vh;
}

/*top blue*/
.topblue {
    background-color: #000d6b;
    height: 50px;
    padding: 0px 30px 0px 80px; 
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

}

.topblue ion-icon {
    margin: 0px 5px 0px 25px;
    padding: 5px;
    text-decoration: none;
    background-color: white;
    color: #000d6b;
    border-radius: 10px;
    vertical-align: middle;
    cursor: pointer;
}




/**************************whitelight**********************************/
.whitehighlight {
    display: flex;
    height: 100px;
    align-items: center;
    padding-left: 80px;
    justify-content: space-between;

}

.whitehighlight .info{
    display: flex;          
}

.info div {
    padding-right: 10px;
    color: #000d6b;
    width: 300px;
    display: flex;
    line-height: 10px;
    align-items: center;
}


.whitehighlight button{
    height: 45px;
    margin-right: 60px;
    width: 10%;
    font-weight: bold;
    color: white;
    background-color: #02093d;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.info ion-icon {
    font-size: 2.5rem;
    margin-right: 5px;
}

 div .name {
    display: block;
}




/************************navbar*********/

nav {
    background-color: #000d6b;
    height: 70px;
    padding: 0px 30px 0px 80px; 
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin-bottom: 0px;
}

nav  a {
    text-decoration: none;
    color: white;
    padding-right: 30px;
}

nav  a:hover {
    color: tomato;
    transition: .2s ease-in-out;
}

nav input {
    height: 70%;
    margin-right: 30px;
    border-radius: 20px;
    border: none;
    background-color: #02093d;
    color: white;
    padding: 0px 20px;
}






/*main image nla*/
.main{
    height: 600px;
    background-image: url(./slider-2.4cd97469474175a97a63.jpg);
    background-position: center;
    background-blend-mode:overlay;
    background-size: cover;
    background-color: #152496;
    margin-top: 0px;
    padding-left: 80px;
    font-size:  1.7rem;
    color: white;
    font-family: 'Arial';
    align-content: center;
}

.main button {
    height: 45px;
    margin-right: 60px;
    width: 10%;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #02093d;
    background-color: white;
    font-weight: bold;
}


.main button:hover {
    height: 45px;
    margin-right: 60px;
    width: 10%;
    font-weight: bold;
    color: white;
    background-color: #02093d;
    border-radius: 10px;
    border: none;
    transition: .2s ease-in-out;
}






/***************************reg section*/
.reg {
    padding-left: 80px;
    padding-bottom: 30px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.reg .leftbox {
    background: center url(./slider-2.4cd97469474175a97a63.jpg);
    background-size: cover;
    background-color: orange;
    background-blend-mode:soft-light;
    width: 400px;
    padding-left: 40px;
    padding-right: 30px;
    height: 300px;
    align-content: center;
    color: #000d6b;
    font-size: 40px;
    font-weight: light;
    margin-right: 20px;
}

.reg .form input {
    height: 40px;
    width: 220px;
    margin: 20px 5px; 
}
.reg .form2 {
    margin-left: 2px;
}

.reg .form2 button {
    height: 40px;
    width: 220px;
    margin-left: 10px;
    color: white;
    background-color: #000d6b;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
}




/*About US*/
.about {
    margin-top: 30px;
    margin-left: 80px;
    background-color: none;
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.about .left {
    width: 40%;
}

.about .left h1 {
    color: #000d6b;
}

.about .left h3 {
    color: orange;
    cursor: pointer;
}

.about ion-icon {
    color: orange;
    vertical-align: middle;
    font-size: 24px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.left p{
    font-size: .9rem;
    line-height:25px;
}

.about .right{
    height:300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(./bmw-offer.ecfb9ac1bf7b5ef615a6.png);
    width: 700px;
    padding-top: 20px;
}

.left .down {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: .9rem;
    vertical-align: middle;
}


/*Services*/
.land {
    font-family: Arial, Helvetica, sans-serif;
}

.land h3 {
    color: orange;
    text-align: center;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.land p {
    color: #000d6b;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 90px;
}

.land a{
    text-decoration: none;
    color: #000d6b;
    font-size: 1.3rem;
    font-weight: bold;

}

.land ion-icon {
    display: block;
    color: orange;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.span {
    display: flex;
    padding-left: 80px;
    padding-right: 30px;
    justify-content: space-between;
    margin-right: 10px;
    font-size: small;
    color: #0b1035af;
}

.span div{
    background-color: none;
    margin-right: 15px;
    line-height: 30px;
}

.span2 {
    display: flex;
    padding-left: 80px;
    padding-right: 30px;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 70px;
    font-size: small;
    color: #0b1035af;
}

.span2 div{
    background-color: none;
    margin-right: 15px;
    line-height: 30px;
}



/*Hot Offers*/

.motor {
    font-family: Arial, Helvetica, sans-serif;
}

.motor h3 {
    color: orange;
    text-align: center;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 70px;
    font-weight: bold;
}


.motor p {
    color: #000d6b;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 15px;
    font-size: 2rem;
    line-height: 40px;
}


.motor a{
    text-decoration: none;
    color: #000d6b;
    font-size: 2rem;
    font-weight: bold;        
}

.model {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 30px;
    font-size: smaller;
    align-items: center;
    font-weight: normal;
}


.model li {
    list-style: none;
    text-align: center;  
    margin-bottom: -20px;      
}

.mt {
    display: flex;
    padding-left: 80px;
    padding-right: 30px;
    justify-content: space-between;
    margin-right: 10px;
    font-size: 1.1rem;
    color: black;
}
.mt img {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 6px;
}

.mt div{
    background-color: none;
    margin-right: 5px;
    line-height: 30px;
    border: #01010a15 solid 2px;
    border-radius: 5px;
    height: 450px;
    width: 500px;
    margin-bottom: 40px;
    text-align: center;
}

.mt .btn1{
    background-color: #000d6b;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.mt .btn2{
    background-color: orange;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.mt button {
    width: 180px;
    padding: 11px 0px;
    color: white;
    cursor: pointer;
}


/*mt2*/
.mt2 {
    display: flex;
    padding-left: 80px;
    padding-right: 30px;
    justify-content: space-between;
    margin-right: 10px;
    font-size: 1.1rem;
    color: black;
}

.mt2 img {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 6px;
}

.mt2 div{
    background-color: none;
    margin-right: 5px;
    line-height: 30px;
    border: #01010a15 solid 2px;
    border-radius: 5px;
    margin-bottom: 70px;
    height: 450px;
    width: 500px;
    text-align: center;
}

.mt2 .btn1{
    background-color: #000d6b;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.mt2 .btn2{
    background-color: orange;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.mt2 button {
    width: 180px;
    padding: 11px 0px;
    color: white;
    cursor: pointer;
}



    /*Don't Be Late*/
.dbl {
    height: 420px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000c6bad;
    background-blend-mode: soft-light;
    margin-bottom: 80px;
    background-image: url(./drive.b72e6f2d1ccdbd6550a9.jpg);
}

.dbl .camry {
    width: 550px;
    background-image: url(./toyota-offer-2.861de085d1c782df9e9d.png);
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 50px;
    padding-right: 50px;
    height: 100%;
    margin-left: 80px;
}

.dbl button {
    height: 45px;
    margin-right: 60px;
    padding: 0px 15px;
    font-weight: bold;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #02093d;
    background-color: white;
    font-weight: bold;
}

.dbl button:hover {
    font-weight: bold;
    color: white;
    background-color: #02093d;
    transition: .5s ease-in-out;
}

.words {
    margin-top: 85px;
    margin-left: 10px;
}

.words p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 2.3rem;
}


/*Testimonials*/
.testimonials {
    font-family: Arial, Helvetica, sans-serif;
}

.testimonials h3 {
    color: orange;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.testimonials p {
    color: #000d6b;
    font-size: 2.2rem;
    font-weight: normal;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 40px;;
}


.span {
    display: flex;
    padding-left: 80px;
    padding-right: 30px;
    justify-content: space-between;
    margin-right: 10px;
    font-size: small;
    color: #0b1035af;
}

.span div{
    background-color: none;
    margin-right: 15px;
    line-height: 30px;
    max-width: 400px;
}

.testimonials .span img {
    width: 30%;
    height: 70px;
    display: block;
    border-radius: 5px;
    margin-top: 14px;
    margin-right: 15px;
}

.testimonials .span .john {
    display: flex;
}

.testimonials .span p  {
    font-size: 1.2rem;
    line-height: 0px;
    padding-bottom: 0px;
    margin-top: 35px;
    display: block;
}

.john .customer {
    color: black;
    margin-top: -22px;
    font-size: 1rem;
}


/**********************Latest Blogs**************************/

.blog {
    font-family: Arial, Helvetica, sans-serif;
}

.blog h3 {
    color: orange;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 70px;
}


.blog p {
    color: #000d6b;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 15px;
    font-size: 2rem;
    line-height: 40px;
}
                
.blog .mt {
    display: flex;
    padding-left: 80px;
    padding-right: 30px;
    justify-content: space-between;
    margin-right: 10px;
    font-size: 1.1rem;
    color: none;

}

.blog .mt div{
    background-color: none;
    margin-right: 0px;
    line-height: 30px;
    border: #01010a15 solid 1px;
    border-radius: 5px 5px 0px 0px;
    height: 420px;
    width: 630px;
    margin-bottom: 0px;
    text-align: left;
    font-size: small;
    color: rgba(0, 0, 0, 0.589);
}

.blog .mt img {
    width: 100%;
    height: 58%;
    margin-top: 0px;
    margin-bottom: -8px;
    padding-left: 0px;
    
}

.mt a  {
    text-decoration: none;
    color:#000d6b;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.mt a:hover {
    color: orange;            
}

.mt p {
    font-size: small;
    color: rgba(0, 0, 0, 0.589);
    padding: 14px 0px 7px 10px;
    margin-top: 5px;
    margin-bottom: 11px;
    font-size: smaller;
    line-height: 30px;
}




/*mt2*/
.blog .mt2 {
    padding-left: 80px;
    padding-right: 30px;
    margin-right: 10px;
    font-size: 1.1rem;
}

.blog .mt2 div{
    background-color: none;
    margin-right: 0px;
    border: #01010a15 solid 1px;
    margin-bottom: 70px;
    height: 70px;
    width: 500px;
    text-align: left;
    padding-right: 15px;
}

.mt2 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
    font-size: 1rem;
    color: #000d6b;
    vertical-align: text-bottom;
    align-items: center;
}

ul ion-icon {
    color: orange;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 1.2rem;
    padding-bottom: 4px;
}



/*footer*/
footer {
    display: block;
    background-color:#000d6b;
    height: 400px;
    color: white;
    padding-bottom: 10px;
}

footer aside {
    display: flex;
    padding: 50px 30px 2px 80px;
    justify-content: space-evenly;          
    color: #fff;
    line-height: 30px;
    margin-bottom: 95px;
}


footer div {
    width: 300px;
}

footer .quick {
    width: 180px;
    margin-left: 20px;
}

footer a {
    text-decoration: none;
    color: white;
    display: block;
    width: fit-content;
}

footer a:hover {
    color: orange;
}

footer h3 {
    margin: 0px 0px 10px 0px;
}

footer input {
    height: 45px;
    margin-top: 15px;
    margin-right: 30px;
    border-radius: 13px;
    border: none;
    background-color: #02093d;
    color: white;
    padding: 0px 20px;
    width: 220px;
}

footer hr {
    margin: 0px 30px 30px 80px;
}

footer p{
    text-align: center;
    margin-bottom: 90px;
}